@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 0.8rem 1rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  /* display: flex; */
}

.info {
  display: flex;
}

.form label {
  display: block;
}

.form input  {
  padding: 0.5rem 1rem;
}